<div class="vh-100 col-2 bg-dark">
            <ul class="nav nav-pills flex-column">
                <li>
                    <p class="pt-4 text-center text-light">Меню</p>
                </li>
                <li class="nav-item">
                    <hr class="border border-light border-1 opacity-25">
                    <a class="nav-link active" aria-current="page" href="{% url 'catalog:product_list' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'catalog:category' 2 %}">Ноутбуки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'catalog:category' 3 %}">Смартфоны</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="{% url 'catalog:contacts' %}">Контакты</a>
                </li>
                <li class="nav-item dropup fixed-bottom">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователь
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>