<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Каталог</title>
    <link href="../data/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<script src="../data/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<div class="row">
    <div class="row align-items-start">
        <div class="vh-100 col-2 bg-dark">
            <ul class="nav nav-pills flex-column">
                <li>
                    <p class="pt-4 text-center text-light">Меню</p>
                </li>
                <li class="nav-item">
                    <hr class="border border-light border-1 opacity-25">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Категории</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Заказы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light" href="#">Контакты</a>
                </li>
                <li class="nav-item dropup fixed-bottom">
                    <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Пользователь
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="#">Профиль</a></li>
                        <li><a class="dropdown-item" href="#">Выход</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-10">
            <h1 class="mt-5 text-center">Каталог</h1>
            <div class="mt-5 row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-secondary btn-sm">View</button>
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-secondary btn-sm">View</button>
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-secondary btn-sm">View</button>
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">This is a longer card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-secondary btn-sm">View</button>
                            <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>